<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Flowers name</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>


    <ion-card >
        <ion-row>
            <ion-col>
                <button primary clear small (click)="playFlower('english')">
                        <ion-icon name="ios-musical-notes"></ion-icon>
                    <div>Play in English</div>
                </button>

            </ion-col>
            <ion-col>
                <button primary clear small (click)="playFlower('hindi')" style="float:right;">
                        <ion-icon name="ios-musical-notes"></ion-icon>
                    <div><div>Play in Hindi</div></div>
                </button>
            </ion-col>
        </ion-row>
        <img src="api/images/flowers/{{ fData[findex].id }}.jpg">
        <ion-card-content>
            <p>ENGLISH : {{fData[findex].english}}</p>
            <p>HINDI : {{fData[findex].hindi}}</p>
        </ion-card-content>

        <ion-row>
            <ion-col *ngIf="findex">

                <button (click)="prevFlower()">
                    <ion-icon name="rewind"></ion-icon>
                    PREV
                </button>


            </ion-col>
            <ion-col *ngIf="findex<fData.length-1">

                <button  style="float:right;" (click)="nextFlower()">
                    NEXT
                    <ion-icon name="fastforward"></ion-icon>
                </button>


            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>
